<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Color matching game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85DD718F1F66924500D78A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85DD71A31F66924700D78A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85DD71AE1F66924700D78A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
